<div class="pure-u-1">
  <div class="content">
    <section class="post">
      <header class="post-header">
        <h2 class='post-title'>{{#link-to 'article' model.id}}{{ model.title }}{{/link-to}}</h2>

        <p class='post-meta'>
         By {{ model.user.name }} on {{ formatted model.created_at }}

        {{#each tag in model.tags}}
          {{#link-to 'articles.tagged' tag class="post-category post-category-design"}}{{tag}}{{/link-to}}
        {{/each}}
      </header>
         
      <div class="post-description">
        <p>{{{ model.body }}}</p>
      </div>
    </section>
  </div>
</div>
