<div class="small-12 large-centered columns">
  <article>
    <h3>{{#link-to 'article' model.id}}{{ model.title }}{{/link-to}}</h3>
    <h6 class='subheader'>Written by {{ model.user.name }} on {{ formatted model.created_at }}</h6>
    <p>{{ model.body }}</p>

    <div class='right'>
      {{#each tag in model.tags}}
        <span class='label'>{{tag}}</span>
      {{/each}}
    </div>
  </article>
  <br /><hr />
</div>
