<div class="pure-u-1">
  <div class="content">
    <section class="post">
      <header class="post-header">
        <h2 class='post-title'>{{#link-to 'article' model.id}}{{ model.title }}{{/link-to}}</h2>

        <p class='post-meta'>
         By {{ model.user.name }} on {{ formatted model.created_at }}

        {{#each tag in model.tags}}
          {{#link-to 'articles.tagged' tag class="post-category post-category-design"}}{{tag}}{{/link-to}}
        {{/each}}
      </header>
         
      <div class="post-description">
        <p>{{{ model.body }}}</p>
      </div>
    </section>

    <section class='comments'>
      <form class='pure-form pure-form-stacked' {{action addComment on="submit"}}>
        <fieldset>
          <div class="pure-g-r">
            <div class="pure-u-1">
              <label>Your name...</label>
              {{input type="text" value=author placeholder="Name/Email/Twitter/site/whatever" class="pure-input-1"}}
            </div>
            <div class="pure-u-1">
              <label>and your comment...</label>
              {{textarea value=blah cols="80" rows="5" class="pure-input-1" placeholder="Comment here"}}
            </div>
          </div>
          {{ panic "Send" }}
        </fieldset>
      </form>
      {{#each comment in model.ordered}}
        {{view NodeJam.CommentView commentBinding='comment'}}
      {{/each}}
    </section>
  </div>
</div>
