<div class="large-9 columns" role="content">
  
  {{#each article in model}}
  
    <article>
      <h3>{{#link-to 'article' article.id}}{{ article.title }}{{/link-to}}</h3>

      {{#unless article.published}}
        <span class='label secondary right'>Draft</span>
      {{/unless}}

      <h6 class='subheader'>Written by {{ article.user.name }} on {{ formatted article.created_at }}</h6>
      <p>{{{ article.body }}}</p>

      <div class='right'>
        {{#each tag in article.tags}}
          <span class='label'>{{tag}}</span>
        {{/each}}
      </div>
    </article>
    <br /><hr />

  {{/each}}

</div>