<div class="pure-u-1">

  <div class="u-header">
    <h1>{{ model.name }}</h1>
    <h2>{{ model.email }}</h2>
  </div>

  <div class="content">
    <form class='pure-form pure-form-aligned' id='change_password' action='/users/edit' method='POST'>
      <fieldset>
        <legend>Alterar Senha</legend>
        <div class="pure-control-group">
          <label>Nova Senha</label>
          {{input type="password" placeholder="Nova Senha" name="password" value=password}}
          {{ panic "Salvar" }}
        </div>

      </fieldset>
    </form>
  </div>
</div>

<div class="pure-u-1">
  <div class="content">
    <div class="posts">
      <h1 class="content-subhead">Your Posts [{{ model.articles.length }}]</h1>
      {{ render '_posts' model.articles }}
    </div>
  </div>
</div>
